*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --color: #131313;
    --color1: #282828;
    --color2: #393939;
    --color3: #585353;
    --color4: #CA0910;
    --color5: #F7C427;
    --color6: #FFFFFF;
    --color7: #2E2C2C;
}
html{
    font-size: 20px;
}

.page{
    width: 1920px;
    height: 3012px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas:  "main" ;
    margin: 0 auto;

 
    main{
        width: 100%;
        height: 100%;
        background-color: var(--color);
        grid-area: main;
        display: flex;
        padding: 2%;

        .aside{
            width: 35%;
            height: 100%;
            padding: 5% 2%;
            background-color: var(--color1);



            .headerAside{
                width: 100%;
                height: 15%;

                .img{
                    width: 53%;
                    height: 67%;
                    border-radius: 100px;
                    margin-left: 26%;
                
                    
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 100px;
                        
                    }
                }
                .content{
                    margin-top: 5%;
                    width: 100%;
                    height: 30%;
                    border-bottom: 5px solid var(--color6);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    

                    h1{
                        color: var(--color6);
                        font-feature-settings: 'clig' off, 'liga' off;
                        font-family: Bitter;
                        font-size: 2.5rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;                        
                    }
                }
            }
            .mainAside{
             margin-top: 25%;
             width: 100%;
             height: 60%;


             ul{
                width: 100%;
                height: 100%;

                li{
                    list-style-type: none;
                    width: 100%;
                    height: 9%;

                    color: var(--color6);
                    font-feature-settings: 'clig' off, 'liga' off;
                    font-family: Bitter;
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 150%;

                }
             }
                

            }
        }
        .containerMain{
            width: 65%;
            height: 100%;
            margin-left: 3%;
            background-color: var(--color2);
            padding: 5% 2%;

            .headerMain{
                width: 100%;
                height: 12%;

                .titleMain{
                    width: 93%;
                    height: 60%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    margin: 0 4%;

                    h1{
                        color: var(--color6);
                        font-feature-settings: 'clig' off, 'liga' off;
                        font-family: Bitter;
                        font-size: 4.5rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;                        
                    }                                  
                  
                }
                .search{
                    width: 100%;
                    height: 40%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    position: relative;

                    input{
                        width: 100%;
                        height: 80%;
                        border-radius: 30px;
                        background-color: var(--color6);
                        color: var(--color);
                        padding-left: 12%;
                        font-size: 1rem;

                    }
                    input:focus{
                        outline: none;
                    }
                    .ti-search{
                        position: absolute;
                        font-size: 2rem;
                        color: var(--color);
                        top: 34%;
                        right: 3%;
                    }
                }
            }
            .contentMain{
                background-color: var(--color7);
                width: 100%;
                height: 80%;
                margin-top: 5%;
                overflow: auto;


                table{
                    width: 100%;
                    // co dinh do rong cot
                    table-layout: fixed;
                    border-collapse: collapse;

                    th{
                        padding: 20px;
                        // ngan chan khong cho thay doi do rong
                        white-space: nowrap;
                        overflow: hidden;
                        // hien thi dau ba cham cho noi dung vuot qua
                        text-overflow: ellipsis;
                        color: var(--color5);
                        font-feature-settings: 'clig' off, 'liga' off;
                        font-family: Bitter;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }

                    td{
                        border-bottom: 5px solid var(--color6);
                        padding: 20px;
                        text-align: center;
                        word-wrap: break-word;
                        color: var(--color6);
                        font-feature-settings: 'clig' off, 'liga' off;
                        font-family: Bitter;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;                        

                    }

                }
            }
        }
    }

}

