*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root {
    --color: #131313;
    --color1: #282828;
    --color2: #393939;
    --color3: #585353;
    --color4: #CA0910;
    --color5: #F7C427;
    --color6: #FFFFFF;
    --color7: #2E2C2C;
}
html{
    font-size: 14px;
}
.page{
    width: 1470px;
    height: 960px;
    margin: 0 auto;

    main{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        padding: 5%;
        
        .containerMain{
            width: 60%;
            height: 100%; 

            .listProduct{
                width: 100%;
                height: 100%;
                overflow-x: hidden;
                margin-top: 5%;
                
                .selectAllProducts{
                    width: 100%;
                    height: 8%;
                    background-color: var(--color);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 7%;

                    input[type="checkbox"] {
                        width: 20px; 
                        height: 20px; 
                      }

                    h5{
                        color: var(--color6);
                    }
                    .ti-trash{
                        color: var(--color6);
                        font-size: 2rem;
                      }
                      .ti-trash:active{
                        color: var(--color3)
                    }
                }

                table{
                    width: 100%;
                    // co dinh do rong cot
                    table-layout: fixed;
                    border-collapse: collapse;
        
                    th{
                        padding: 20px;
                        // ngan chan khong cho thay doi do rong
                        white-space: nowrap;
                        overflow: hidden;
                        // hien thi dau ba cham cho noi dung vuot qua
                        text-overflow: ellipsis;
                        color: var(--color5);
                        font-feature-settings: 'clig' off, 'liga' off;
                        font-family: Bitter;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }
        
                    td{
                        border-bottom: 5px solid var(--color6);
                        padding: 20px;
                        text-align: center;
                        word-wrap: break-word;
                        color: var(--color6);
                        font-feature-settings: 'clig' off, 'liga' off;
                        font-family: Bitter;
                        font-style: 1rem;
                        font-weight: 700;
                        line-height: normal;                        
        
                    }

                    td{
                        input[type="checkbox"] {
                            width: 20px; 
                            height: 20px; 
                          }
                          
                          img{
                              width: 100%;
                              height: 100%;
                          }
                          input[type="number"] {
                              width: 70px;
                              height: 25px;
                              text-align: center;
                              font-size: 1rem;
                          }
      
                          input[type="number"]:focus{
                              outline: none;
                          }
                          .ti-trash{
                              color: var(--color6);
                              font-size: 2rem;
                            }
                        .ti-trash:active{
                            color: var(--color3)
                        }
                    }
        
                }
                &:hover{
                    overflow-x: auto;
                }
                &::-webkit-scrollbar{
                    background-color: transparent;
                }
                &::-webkit-scrollbar-thumb{
                    background-color: var(--color3);
                    width: 1px;
                    border-radius: 100px;
                }
            }
        }

        aside{
            width: 30%;
            max-height: 100%;
            padding: 2%;
            
            .mainAside{
                border-bottom: 2px solid var(--color3);
                width: 100%;
                max-height: 80%;
                overflow-x: auto;
                
                
                h1{
                    color: var(--color6);
                    font-size: 2rem;
                    margin: 10% 0;
                }
                
                ul{
                    width: 100%;
                    height: 100%;

                    li{
                        list-style-type: none;
                        color: var(--color6);
                        font-size: 1rem;
                        margin: 5% 0;
                    }
                }
            }
            .footerAside{
                width: 100%;
                height: 20%;

                h1{
                    color: var(--color6);
                    font-size: 1.5rem;
                    margin: 3% 0;
                }

                button{
                    width: 50%;
                    height: 35%;
                    margin: 5% 25%;
                    font-size: 1rem;
                }
                button:focus{
                    outline: none;
                }
                button:hover{
                    background-color: var(--color3);
                    color: var(--color6);
                    transition: 1s linear;
                    

                }
            }
        }
        
    }

}