* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
:root {
    --color: #131313;
    --color1: #282828;
    --color2: #393939;
    --color3: #585353;
    --color4: #CA0910;
    --color5: #F7C427;
    --color6: #FFFFFF;
    --color7: #2E2C2C;
    --color8: #30CA73;
    --color9: #E9F8F1;
    --color10: #EBEBEB;
}
html{
    font-size: 14px;
}
.page{
    width: 1470px;
    height: 1000px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: var(--color);

    .bill{
        width: 80%;
        height: 65%;
        padding: 2% 3%;
        z-index: 9999999;
        margin-top: 5%;
        



        .containerBill{
            width: 100%;
            max-height: 100%;
            // min-height: 50%;
            background-color: var(--color6);
            border-radius: 30px;
            padding: 2% 3%;


            .headerBill{
                width: 100%;
                height: 10%;
                border-bottom: 2px solid var(--color10);
                display: flex;
                align-items: center;

                h1{
                    
                    font-size: 2rem;
                    color: var(--color);
                }

            }
            .contentBill{
                width: 100%;
                max-height: 60%;
                border-bottom: 2px solid var(--color10);
                overflow-x: auto;


                table{
                    width: 100%;
                    // co dinh do rong cot
                    table-layout: fixed;
                    border-collapse: collapse;

                    th{
                        padding: 5% 2%;
                        // ngan chan khong cho thay doi do rong
                        white-space: nowrap;
                        overflow: hidden;
                        // hien thi dau ba cham cho noi dung vuot qua
                        text-overflow: ellipsis;
                        color: var(--color);
                        font-feature-settings: 'clig' off, 'liga' off;
                        font-family: Bitter;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        font-size: 1.5rem;
                    }

                    td{
                        border-bottom: 5px solid var(--color6);
                        padding: 5% 2%;
                        text-align: center;
                        word-wrap: break-word;
                        color: var(--color);
                        font-feature-settings: 'clig' off, 'liga' off;
                        font-family: Bitter;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;                        
                        font-size: 1.2rem;
    

                        img{
                            width: 45%;
                            height: 30%;
                        }
                    }
                    td:nth-child(1){
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        img{
                            width: 45%;
                            height: 30%;
                        }
                    }
                    
                    td:last-child{
                        font-weight: 700;
                    }

                }
            }
            .footerBill{
                width: 100%;
                height: 30%;

                .itemFooterBill{
                    width: 100%;
                    height: 30%;
                    display: flex;
                    justify-content: right;
                    align-items: center;
                    margin: 1% 0;

                    h3{
                        font-size: 1.5rem;
                        font-weight: 500;
                        margin-right: 1%;
                    }
                    h1{
                        font-size: 1.6rem;
                        font-weight: 700;
                        
                    }
                }

            }
        }

        button{
            width: 25%;
            height: 10%;
            margin: 5% 40%;
            font-size: 1.5rem;
            color: var(--color6);
            background-color: #AD006C;
            border-radius: 10px;
        }
        button:hover{
            background-color: var(--color3);
            transition: linear 1s;
        }
    }
}