*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --color: #131313;
    --color1: #282828;
    --color2: #393939;
    --color3: #585353;
    --color4: #CA0910;
    --color5: #F7C427;
    --color6: #FFFFFF;
    --color7: #2E2C2C;
}
html{
    font-size: 14px;
}
.page{
    width: 1470px;
    height: 960px;
    display: flex;
    background-color: var(--color);
    margin: 0 auto;

    .banner{
        width: 50%;
        height: 100%;

        img{
            width: 100%;
            height: 100%;
        }

    }
    .main{
        width: 50%;
        height: 100%;
        padding: 5%;

        .headerMain{
            width: 100%;
            height: 15%;
            display: flex;
            justify-content: center;
            align-items: center;

            h1{
                color: var(--color6);
                font-family: Inter;
                font-size: 3.5rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;                
            }
        }

        form{
            width: 100%;
            height: 70%;
            padding: 5%;

            input{
                width: 100%;
                height: 17%;
                border-radius: 100px;
                background-color: var(--color6);
                color: var(--color);
                padding-left: 5%;
                font-size: 1rem;
                margin: 2% 0;
                border: none;

            }
            
            input:focus{
                outline:  none;
                
            }
            label{
                color: var(--color6);
                font-size: 1.25re;
                font-style: normal;
                font-weight: 700;
                line-height: normal;  
                margin: 1% 0;              
            }

            input[type = "submit"]{
                color: var(--color);
                font-family: Inter;
                font-size: 2rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                background: linear-gradient(265deg, #F7C427 27.42%, #CA0910 97.16%);
                border: none;

            }
            a{
                text-decoration: none;
                color: var(--color6);
                font-size: 1rem;
                font-family: Inter;
                margin: 2% 0;
            }
            
        }

        .footerMain{
            width: 100%;
            height: 27%;

            .itemContent1{
                width: 100%;
                height: 26%;
                display: flex;
                justify-content: center;
                align-items: center;


                article{
                    width: 30%;
                    border: 3px solid var(--color6);
                }
                article:nth-child(2){
                    width: 20%;
                    border: 2px solid var(--color6);
                    height: 50%;
                    color: var(--color6);
                    font-family: Inter;
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;  
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;                  
                }

            }
            .itemContent2{
                width: 100%;
                height: 26%;
                display: flex;
                justify-content: center;
                align-items: center;

                
                p{
                    color: var(--color4);
                    font-family: Inter;
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;                   
                }
                p:nth-child(2){
                    color: var(--color6);
                    margin-left: 2%;
                }
            }
        }
    }
}