@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 20px;
}

.ChiTietSanPham {
  margin: 0 auto;
  width: 1920px;
  padding: 70px 0;
  background-color: #131313;
}
.ChiTietSanPham .ProductDetail {
  margin: 0 auto;
  width: 84.0104166667%;
  display: flex;
  justify-content: space-between;
  padding: 59px 0 0 0;
}
.ChiTietSanPham .ProductDetail .img {
  width: 649px;
  height: 690px;
  border-radius: 30px;
}
.ChiTietSanPham .ProductDetail .img img {
  width: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.ChiTietSanPham .ProductDetail .form {
  width: 56.3546187229%;
  height: 690px;
  background-color: rgba(51, 51, 51, 0.15);
  border-radius: 30px;
}
.ChiTietSanPham .ProductDetail .form form {
  width: 841px;
  margin: 0 auto;
  margin-top: 45px;
  margin-bottom: 55px;
}
.ChiTietSanPham .ProductDetail .form form h2 {
  color: #F7C427;
  font-family: Bitter;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.ChiTietSanPham .ProductDetail .form form .hr {
  margin-top: 6px;
  margin-bottom: 20px;
  height: 13px;
  width: 841px;
  background-color: #F7C427;
}
.ChiTietSanPham .ProductDetail .form form ul {
  font-size: 40px;
  color: white;
  margin-left: 34px;
  font-family: Bitter;
}
.ChiTietSanPham .ProductDetail .form form ul li del {
  color: rgba(255, 255, 255, 0.5);
}
.ChiTietSanPham .ProductDetail .form form ul li span {
  font-size: 50px;
}
.ChiTietSanPham .ProductDetail .form form .soluong {
  margin: 35px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ChiTietSanPham .ProductDetail .form form .soluong .tanggiam {
  display: flex;
  border: 1px solid #F7C427;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
}
.ChiTietSanPham .ProductDetail .form form .soluong .tanggiam p {
  font-size: 40px;
  color: white;
}
.ChiTietSanPham .ProductDetail .form form .soluong .tanggiam button {
  width: 50px;
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}
.ChiTietSanPham .ProductDetail .form form .soluong .tanggiam input {
  background-color: transparent;
  border: 2px solid #F7C427;
  color: #F7C427;
  font-size: 35px;
  text-align: center;
  padding: 0;
  border: none;
  width: 40px;
}
.ChiTietSanPham .ProductDetail .form form .soluong .tanggiam input::-webkit-inner-spin-button, .ChiTietSanPham .ProductDetail .form form .soluong .tanggiam input::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
  display: none;
}
.ChiTietSanPham .ProductDetail .form form .soluong .tanggiam input::-moz-placeholder {
  color: #F7C427;
}
.ChiTietSanPham .ProductDetail .form form .soluong .tanggiam input::placeholder {
  color: #F7C427;
}
.ChiTietSanPham .ProductDetail .form form .soluong span {
  font-size: 50px;
  color: red;
}
.ChiTietSanPham .ProductDetail .form form button {
  width: 100%;
  height: 57px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Bitter;
  font-size: 30px;
  font-weight: 700;
  background-color: #F7C427;
}
.ChiTietSanPham .ProductDetail .form form button:hover {
  background-color: #585353;
  color: #D7D7D7;
}
.ChiTietSanPham .list {
  width: 84.0104166667%;
  margin: 60px auto;
  height: auto;
  padding: 20px 20px 10px 20px;
  background-color: #1D1D1D;
  border-radius: 30px;
  display: flex;
  overflow-x: hidden;
}
.ChiTietSanPham .list:hover {
  overflow-x: auto;
}
.ChiTietSanPham .list::-webkit-scrollbar {
  background-color: transparent;
}
.ChiTietSanPham .list::-webkit-scrollbar-thumb {
  background-color: #3A3838;
  width: 1px;
  border-radius: 100px;
}
.ChiTietSanPham .list .pro {
  width: 316px;
  padding: 15px 0;
  margin: 10px;
  border-radius: 30px;
  background-color: #3A3838;
  text-align: center;
  flex-direction: column;
  flex-shrink: 0;
}
.ChiTietSanPham .list .pro img {
  display: block;
  margin: 0 auto;
  width: 80%;
  max-width: 80%;
}
.ChiTietSanPham .list .pro p {
  margin-top: 10px;
  font-size: 30px;
}
.ChiTietSanPham .top {
  width: 84.0104166667%;
  background-color: #2E2C2C;
  border-radius: 30px;
  padding: 33px;
  padding-bottom: 70px;
  margin: 0 auto;
}
.ChiTietSanPham .top h2 {
  text-align: center;
  color: #F7C427;
  font-size: 50px;
  margin-bottom: 30px;
}
.ChiTietSanPham .top .list_item {
  display: flex;
  justify-content: space-around;
}
.ChiTietSanPham .top .list_item .item {
  background-color: rgba(29, 29, 29, 0.7);
  border-radius: 30px;
  width: 27%;
  padding-bottom: 30px;
  text-align: center;
}
.ChiTietSanPham .top .list_item .item img {
  width: 100%;
}
.ChiTietSanPham .top .list_item .item p {
  margin: 15px 0;
  font-size: 30px;
  color: white;
}
.ChiTietSanPham .top .list_item .item h3 {
  font-size: 30px;
  color: #F7C427;
}
.ChiTietSanPham .comment {
  width: 84.0104166667%;
  margin: 0 auto;
  margin-top: 30px;
}
.ChiTietSanPham .comment .list_comment .content {
  display: flex;
  justify-content: space-between;
}
.ChiTietSanPham .comment .list_comment .content p {
  width: 85%;
  color: white;
  word-wrap: break-word;
  font-size: 48px;
  font-family: Rufina;
}
.ChiTietSanPham .comment .list_comment .content .img {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  align-items: center;
  background-color: #ccc; /* Màu nền của hình tròn */
}
.ChiTietSanPham .comment .list_comment .content .img img {
  width: 100%;
}
.ChiTietSanPham .comment .tang_giam {
  margin-top: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ChiTietSanPham .comment .tang_giam button {
  background-color: transparent;
  margin: 0 20px;
  border: none;
  color: white;
  font-size: 30px;
  font-style: italic;
}
.ChiTietSanPham .comment .tang_giam .position-display {
  color: white;
  font-size: 30px;
  font-style: italic;
}/*# sourceMappingURL=ChiTietSanPham.css.map */