* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; // Đảm bảo rằng padding và border không làm tăng kích thước thực của phần tử
    text-decoration: none;
  }
  
  html {
    font-size: 14px;
  }
  
  .chitietsanpham {
    margin: 0 auto;
    max-width: 1470px;
    height: 1905px;
    background-image: url("../../img/html/snapedit_1701874861222.png");
    background-size: 100%;
    padding-bottom: 50px;
    .layer {
      width: 100%;
      margin: 0 auto;
      height: 100px;
    }
    .product_detail {
      color: white;
      width: 80%;
      background-color: #343434;
      margin: 0 auto;
      height: 400px;
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      border-radius: 30px;
  
      .anh {
        width: 50%;
        height: 100%;
        border-radius: 30px;
  
        img {
          width: 100%;
          border-radius: 30px;
  
          object-position: center;
          object-fit: cover;
        }
      }
  
      .content {
        margin-left: 40px;
        h1 {
          color: #f7c427;
          font-size: 45px;
        }
        .hr {
          border-radius: 10px;
          margin: 15px 0;
          margin-bottom: 6px;
          width: 90%;
          background-color: #f7c427;
          height: 10px;
        }
        ul {
          width: 90%;
          font-size: 20px;
          margin-left: 20px;
          li {
            margin: 5px 0;
          }
        }
        .option {
          margin-top: 10px;
          display: flex;
          align-items: center;
  
          .tanggiam {
            margin: 0 5px;
            display: flex;
            border: 1px solid #f7c427;
            align-items: center;
            border-radius: 5px;
            padding: 5px;
  
            p {
              font-size: 20px;
              color: white;
            }
            button {
              width: 20px;
              font-size: 15px;
              text-align: center;
              vertical-align: middle;
              font-weight: bold;
              background-color: #f7c427;
              border: none;
            }
            input {
              background-color: transparent;
              border: 2px solid #f7c427;
              color: #f7c427;
              font-size: 15px;
              text-align: center;
              padding: 0;
              border: none;
              width: 15px;
  
              &::-webkit-inner-spin-button,
              &::-webkit-outer-spin-button {
                appearance: none;
                display: none;
              }
              &::placeholder {
                color: #f7c427;
              }
            }
  
            select {
              background-color: transparent;
              color: #f7c427;
              border: none;
            }
          }
        }
        .order {
          margin-top: 15px;
          margin-right: 10px;
          font-size: 20px;
          padding: 10px;
          border-radius: 6px;
          border: none;
          background-color: #f7c427;
  
          &:hover {
            background-color: white;
          }
        }
      }
    }
  
    .list {
     width: 85%;
      margin: 60px auto;
      height: auto;
      padding: 10px;
      background-color: #1d1d1d;
      border-radius: 10px;
      display: flex;
      overflow-x: hidden;
  
      &:hover {
        overflow-x: auto;
      }
      
      &::-webkit-scrollbar {
        background-color: transparent;
        width: 6px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #3a3838;
        height: 1px !important;
        border-radius: 100px;
      }
      .pro {
          width: 15%;
        padding: 15px 0;
        margin: 10px;
        border-radius: 10px;
        background-color: #3a3838;
        text-align: center;
        flex-direction: column;
        flex-shrink: 0;
  
        img {
          display: block;
          margin: 0 auto;
          width: 80%;
          max-width: 80%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          
        }
        p {
          // background-color: green;
          margin-top: 10px;
          font-size: 15px;
        }
      }
      .comment{
        width: 31%;
        width: 31%;
        padding: 15px 0;
        margin: 10px;
        border-radius: 10px;
        background-color: #3a3838;
        flex-direction: column;
        flex-shrink: 0;

        .content{
          width: 100%;
          height: 50%;

          p{
            color: white;

          }
        }
        .persion{
          width: 100%;
          height: 50%;
          display: flex;
          justify-content: space-around;
          align-items: center;

          img{
            width: 30%;
            height: 100%;
            border-radius: 100px;
          }
          h3{
            color: white;
          }
        }
      }
    }
    .top {
      width: 85%;
      border-radius: 10px;
      padding: 10px;
      margin: 0 auto;
      h2 {
        text-align: center;
        color: #f7c427;
        font-size: 40px;
        margin-bottom: 30px;
      }
      .list_item {
        display: flex;
        justify-content: space-around;
  
        .item {
          background-color: rgba(29, 29, 29, 0.7);
          border-radius: 10px;
          width: 27%;
          text-align: center;
         
          img {
              border-radius: 10px 10px 0 0 ;
            width: 100%;
            height: 300px;
          object-position: center;
          object-fit: cover;
          }
          p {
            margin: 10px 0;
            font-size: 25px;
            color: white;
          }
          h3 {
            font-size: 25px;
            color: #f7c427;
            margin-bottom: 15px;
          }
        }
      }
    }
  }
  