* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 14px;
}

.chitietsanpham {
  margin: 0 auto;
  max-width: 1470px;
  height: 1905px;
  background-image: url("../../img/html/snapedit_1701874861222.png");
  background-size: 100%;
  padding-bottom: 50px;
}
.chitietsanpham .layer {
  width: 100%;
  margin: 0 auto;
  height: 100px;
}
.chitietsanpham .product_detail {
  color: white;
  width: 80%;
  background-color: #343434;
  margin: 0 auto;
  height: 400px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
}
.chitietsanpham .product_detail .anh {
  width: 50%;
  height: 100%;
  border-radius: 30px;
}
.chitietsanpham .product_detail .anh img {
  width: 100%;
  border-radius: 30px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.chitietsanpham .product_detail .content {
  margin-left: 40px;
}
.chitietsanpham .product_detail .content h1 {
  color: #f7c427;
  font-size: 45px;
}
.chitietsanpham .product_detail .content .hr {
  border-radius: 10px;
  margin: 15px 0;
  margin-bottom: 6px;
  width: 90%;
  background-color: #f7c427;
  height: 10px;
}
.chitietsanpham .product_detail .content ul {
  width: 90%;
  font-size: 20px;
  margin-left: 20px;
}
.chitietsanpham .product_detail .content ul li {
  margin: 5px 0;
}
.chitietsanpham .product_detail .content .option {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.chitietsanpham .product_detail .content .option .tanggiam {
  margin: 0 5px;
  display: flex;
  border: 1px solid #f7c427;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
}
.chitietsanpham .product_detail .content .option .tanggiam p {
  font-size: 20px;
  color: white;
}
.chitietsanpham .product_detail .content .option .tanggiam button {
  width: 20px;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  background-color: #f7c427;
  border: none;
}
.chitietsanpham .product_detail .content .option .tanggiam input {
  background-color: transparent;
  border: 2px solid #f7c427;
  color: #f7c427;
  font-size: 15px;
  text-align: center;
  padding: 0;
  border: none;
  width: 15px;
}
.chitietsanpham .product_detail .content .option .tanggiam input::-webkit-inner-spin-button, .chitietsanpham .product_detail .content .option .tanggiam input::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
  display: none;
}
.chitietsanpham .product_detail .content .option .tanggiam input::-moz-placeholder {
  color: #f7c427;
}
.chitietsanpham .product_detail .content .option .tanggiam input::placeholder {
  color: #f7c427;
}
.chitietsanpham .product_detail .content .option .tanggiam select {
  background-color: transparent;
  color: #f7c427;
  border: none;
}
.chitietsanpham .product_detail .content .order {
  margin-top: 15px;
  margin-right: 10px;
  font-size: 20px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  background-color: #f7c427;
}
.chitietsanpham .product_detail .content .order:hover {
  background-color: white;
}
.chitietsanpham .list {
  width: 85%;
  margin: 60px auto;
  height: auto;
  padding: 10px;
  background-color: #1d1d1d;
  border-radius: 10px;
  display: flex;
  overflow-x: hidden;
}
.chitietsanpham .list:hover {
  overflow-x: auto;
}
.chitietsanpham .list::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
}
.chitietsanpham .list::-webkit-scrollbar-thumb {
  background-color: #3a3838;
  height: 1px !important;
  border-radius: 100px;
}
.chitietsanpham .list .pro {
  width: 15%;
  padding: 15px 0;
  margin: 10px;
  border-radius: 10px;
  background-color: #3a3838;
  text-align: center;
  flex-direction: column;
  flex-shrink: 0;
}
.chitietsanpham .list .pro img {
  display: block;
  margin: 0 auto;
  width: 80%;
  max-width: 80%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.chitietsanpham .list .pro p {
  margin-top: 10px;
  font-size: 15px;
}
.chitietsanpham .list .comment {
  width: 31%;
  width: 31%;
  padding: 15px 0;
  margin: 10px;
  border-radius: 10px;
  background-color: #3a3838;
  flex-direction: column;
  flex-shrink: 0;
}
.chitietsanpham .list .comment .content {
  width: 100%;
  height: 50%;
}
.chitietsanpham .list .comment .content p {
  color: white;
}
.chitietsanpham .list .comment .persion {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.chitietsanpham .list .comment .persion img {
  width: 30%;
  height: 100%;
  border-radius: 100px;
}
.chitietsanpham .list .comment .persion h3 {
  color: white;
}
.chitietsanpham .top {
  width: 85%;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;
}
.chitietsanpham .top h2 {
  text-align: center;
  color: #f7c427;
  font-size: 40px;
  margin-bottom: 30px;
}
.chitietsanpham .top .list_item {
  display: flex;
  justify-content: space-around;
}
.chitietsanpham .top .list_item .item {
  background-color: rgba(29, 29, 29, 0.7);
  border-radius: 10px;
  width: 27%;
  text-align: center;
}
.chitietsanpham .top .list_item .item img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 300px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.chitietsanpham .top .list_item .item p {
  margin: 10px 0;
  font-size: 25px;
  color: white;
}
.chitietsanpham .top .list_item .item h3 {
  font-size: 25px;
  color: #f7c427;
  margin-bottom: 15px;
}/*# sourceMappingURL=ChiTietSanPham.css.map */