* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
:root {
    --color: #131313;
    --color1: #282828;
    --color2: #393939;
    --color3: #585353;
    --color4: #CA0910;
    --color5: #F7C427;
    --color6: #FFFFFF;
    --color7: #2E2C2C;
    --color8: #30CA73;
}
html{
    font-size: 14px;
}
.datban{
    width: 1470px;
    margin: 0 auto;
    background: #131313;
    padding: 50px 0;
    height: 1000px;
    padding: 2% 5%;
    
    .header{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;

        h1{
            color: var(--color6);
            font-size: 2.2rem;
        }
    }
    .containerTable{
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: space-between;
        
        .listTable{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: start;
            flex-wrap: wrap;
            overflow-x: auto;
            justify-content: space-around;
            align-content: flex-start;
            z-index: 9999999;
            margin-top: 5%;
            

            .contentTable{
                width: 38%;
                height: 10%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                color: var(--color6);
                background-color:  var(--color8);
                margin: 2% 0;
                
                input{
                    width: 100%;
                    height: 100%;
                    appearance: none;
                    background-color: transparent;

                }
                
                span{
                    font-size: 1.2rem;
                }
            }

        }

        .timeBooking{
            width: 45%;
            height: 50%;
            z-index: 9999999;
            margin-top: 5%;
            padding: 0 5%;

            input, select{
                width: 100%;
                height: 20%;
                text-align: center;
                font-size: 1rem;
                background-color: var(--color8);
                color: var(--color6);
                margin: 5% 0;
            }
            
            input:focus, select:focus{
                outline: none;
            }
            
            .footer{
                width: 100%;
                height: 20%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-top: 5%;
        
                button{
                    width: 100%;
                    height: 100%;      
                    font-size: 1.5rem;
                    background-color: var(--color2);
                    color: var(--color6);
                    border: none;
        
                }
        
                button:hover{
                    background-color: var(--color6);
                    color: var(--color);
                    transition: 1s linear;
                }
        
            }

        }
    }

}