* {
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 14px;
}
.DonHangVanChuyen{
    width: 1470px;
    margin: 0 auto;
    background-color: #131313;
    padding-bottom: 80px;
    >h1{
        padding: 53px 0;
        padding-bottom: 30px;
        color: white;
        font-size: 60px;
        text-align: center;
    }

    .donhang{
        margin: 0 auto;
        width: 80%;
        background-color: #393939;
        height: 400px;
        padding: 40px;
        overflow-y: auto;
        margin-bottom: 20px;

        &::-webkit-scrollbar{
            background-color: transparent;
        }
        &::-webkit-scrollbar-thumb{
            background-color: white;    
            border-radius: 100px;
        }
        >h2{
            font-size: 40px;
            color: white;
        }
        .bang_so_luong{
            color: white;
            width: 100%;

            th,td{
                padding: 8px;
            }
        }
    }

    .tinhtien{
        margin: 0 auto;
        width: 80%;
        background-color: #393939;
        padding: 40px;
        overflow-y: auto;
        margin-bottom: 100px;

        table{
            color: white;
            width: 100%;

            th,td{
                padding: 8px;
            }
            .total_th_left{
                font-size: 40px;
                text-align: left;
            }
            .total_th_right{
                font-size: 40px;
                text-align: right;
            }
            .total{
                text-align:right;
            }
        }
    }
}
