* {
    margin: 0px;
    padding: 0px;
  }
  
  html {
    font-size: 14px;
  }
  
  .Login_thuong{
    width: 1470px;
    margin: 0 auto;
    background-color: #131313;
    display: flex;
    align-items: center;
    
    .img{
        width: 50%;

        img{
            width: 100%;
            height: 100%;
            
        }
    }
    .content_login_thuong{
        color: white;
        width: 50%;
        height: 100%;

        form{
            width: 80%;
            margin: 0 auto;
            >h2{
                margin-bottom: 30px;
                text-align: center;
                font-size: 70px;
            }
            >p{
                font-size: 35px;
            }
            input{
                margin-bottom: 30px;
                width: 88%;
                border: none;
                border-radius: 64.5px;
                padding: 30px 40px;
                background-color: #D9D9D9;
                font-size: 35px;

                &:focus{
                    outline: none;
                }
            }
            button{
                margin-top: 15px;
                width: 100%;
                padding: 25px;
                background: linear-gradient(265deg, #F7C427 27.42%, #CA0910 97.16%);
                border-radius: 64.5px;
                font-size: 50px;
                font-weight: bold;
            }
            .option{
                width: 100%;
                display: flex;
                justify-content: space-between;
                font-size: 35px;
                a{
                    color: white;
                    text-decoration: none;

                    &:hover{
                        text-decoration: underline;
                        color: #F7C427;
                    }
                }
            }
        }
        
        .navication{
            width: 80%;
            height: 20%;
            display: flex;
            justify-content: space-between;
            margin: 5% 10%;

            a{
                text-decoration: none;
                font-size: 1.5rem;
                color: white;
            }
        
        }
    }
  }