* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; // Đảm bảo rằng padding và border không làm tăng kích thước thực của phần tử
    text-decoration: none;

  }
  
  html {
    font-size: 14px;
  }
  
  @keyframes gradientMove {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  
  .home {
    margin: 0 auto;
    max-width: 1470px; // Sử dụng max-width thay vì width để tránh tràn màn hình trên các thiết bị nhỏ
  
    .banner {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url("../../img/html/snapedit_1701831780769.png");
      height: 700px;
      border-bottom: 1px solid white;
  
      .content_banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        hr {
          width: 100%;
        }
        > p {
          margin: 10px 0;
          font-size: 23px;
          text-align: center;
          color: white;
          font-weight: bold;
          text-transform: uppercase;
        }
  
        h1 {
          font-size: 70px;
          color: #f7c427;
        }
  
        .p_phu {
          // p {
          //     background: linear-gradient(265deg, #F7C427 27.42%, #CA0910 97.16%);
          //     -webkit-background-clip: text; /* Áp dụng gradient cho màu chữ trên trình duyệt Safari và Chrome */
          //     color: transparent; /* Làm cho màu chữ trở thành trong suốt để hiển thị gradient ở phía sau */
          //     font-size: 25px;
          // }
          p {
            margin: 20px 0;
            color: white;
            font-size: 25px;
            text-align: center;
          }
        }
        button {
          margin-top: 20px;
          width: fit-content;
          padding: 15px;
          border: none;
          background: #f7c427;
          border-radius: 5%;
          font-size: 17px;
          text-transform: uppercase;
          color: black;
          transition: background 5s;
  
          &:hover {
            background: linear-gradient(265deg, #f7c427 27.42%, #ca0910 97.16%);
          }
        }
  
        .footer_banner {
          border-radius: 50%;
          background-color: #282828;
          z-index: 100;
          position: relative;
          top: 190px;
          width: 50px;
        }
      }
    }
  
    .content {
      padding-top: 80px;
      background-image: url("../../img/html/snapedit_1701874861222.png");
      background-size: 100%;
      height: fit-content;
      padding-bottom: 65px;
      > h1 {
        text-align: center;
        font-size: 60px;
        color: #f7c427;
        margin-bottom: 40px;
      }
  
      .intro {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .intro1 {
          width: 85%;
          display: flex;
          justify-content: space-between;
          background-color: rgba(40, 40, 40, 0.8);
          padding: 10px;
          border-radius: 30px;
          height: 500px;
          .img {
            width: 800px;
            overflow: hidden;
  
            img {
              border-radius: 20px;
              width: 100%;
              height: 100%; /* Đảm bảo chiều cao bằng 100% của khối .img */
              object-fit: cover; /* Cắt ảnh để nó vừa với kích thước của khối .img */
              object-position: center; /* Đưa ảnh ra giữa khối .img */
            }
          }
          .content_intro1 {
            width: 100%;
            margin-left: 60px;
  
            flex-direction: column;
            h1 {
              font-size: 60px;
              color: #f7c427;
              margin-bottom: 20px;
            }
  
            p {
              margin: 10px 0;
              color: white;
              width: 95%;
              font-size: 35px;
            }
  
            .button_intro1 {
              margin-top: 20px;
              button {
                margin-right: 15px;
                background-color: #f7c427;
                text-transform: uppercase;
                border: none;
                border-radius: 10px;
                width: fit-content;
                padding: 15px;
                transition: background-color 1s;
                &:hover {
                  background-color: white;
                }
              }
            }
          }
        }
  
        .intro2 {
          width: 85%;
          display: flex;
          justify-content: space-between;
          background-color: rgba(40, 40, 40, 0.8);
          padding: 10px;
          border-radius: 30px;
          margin-top: 30px;
          height: 500px;
          .img {
            width: 800px;
            overflow: hidden;
  
            img {
              border-radius: 20px;
              width: 100%;
              height: 100%; /* Đảm bảo chiều cao bằng 100% của khối .img */
              object-fit: cover; /* Cắt ảnh để nó vừa với kích thước của khối .img */
              object-position: center; /* Đưa ảnh ra giữa khối .img */
            }
          }
          .content_intro2 {
            width: 100%;
            margin-left: 20px;
  
            flex-direction: column;
            h1 {
              font-size: 60px;
              color: #f7c427;
              margin-bottom: 20px;
            }
  
            p {
              margin: 10px 0;
              color: white;
              width: 95%;
              font-size: 35px;
            }
  
            .button_intro2 {
              margin-top: 20px;
              button {
                margin-right: 15px;
                background-color: #f7c427;
                text-transform: uppercase;
                border: none;
                border-radius: 10px;
                width: fit-content;
                padding: 15px;
                transition: background-color 1s;
                &:hover {
                  background-color: white;
                }
              }
            }
          }
        }
      }
  
      .three_icon_div {
        background-image: none;
        // background-color: #f7c427;
        margin: 0 auto;
        margin-top: 80px;
        height: 500px;
        display: flex;
        width: 1200px;
        > img {
          width: 50%;
          border-radius: 5px;
        }
        .content_certificate {
          display: flex;
          flex-direction: column;
          justify-content: center;
          > h1 {
            text-align: center;
            font-size: 60px;
            margin-bottom: 40px;
            color: #f7c427;
          }
          .certificate {
            display: flex;
            justify-content: center;
            width: 100%;
            .content {
              margin: 0 10px;
              width: 27.5%;
              background-image: none;
              // background-color: #ca0910;
              height: fit-content;
              text-align: center;
              padding: 15px 10px;
              border: 1px solid white;
              border-radius: 20px;
              img {
                width: 80%;
              }
              h2 {
                margin-top: 25px;
                color: white;
                margin-bottom: 5px;
              }
              p {
                color: #a7aca1;
              }
  
              &:hover {
                background-color: #f7c427;
                border-color: transparent;
                p {
                  color: white;
                }
              }
            }
          }
        }
      }
  
      .Slideshow_Product {
        display: flex;
        width: 85%;
        margin: 0 auto;
        background-color: #969595;
        height: 400px;
        background-repeat: no-repeat;
        background-image: none;
        align-items: center;
        overflow: hidden;
        position: relative;
        border-radius: 10px;
        .content_pro {
          background-color: white;
          width: 250px;
          border-radius: 15px;
          height: 350px;
          position: absolute;
          transition: transform 0.5s ease-in-out;
          margin-left: 25px;
  
          h1 {
            margin-bottom: 4px;
            padding-left: 10px;
          }
          .description{
            height: 60px;
            overflow-x: auto;
            padding-left: 10px;
          }
          h3 {
            text-decoration: underline;
            padding-left: 10px;
            font-weight: normal;
            margin: 5px 0;
          }

          img {
            width: 100%;
            border-radius: 15px 15px 0 0;
            height: 200px;
            text-align: center;
            object-fit: cover;
          }
          .button_div {
            margin-top: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            button {
              padding: 7px;
              background-color: #f7c427;
              border-radius: 7%;
              font-size: 12px;
              text-transform: uppercase;
              border: none;
              color: black;
            }
          }
        }
      }
  
      .choose_table {
        background-image: url("../../img/html/snapedit_1701938281351.png");
        background-size: 100%;
        background-repeat: no-repeat;
        width: 80%;
        margin: 0 auto;
        margin-top: 80px;
        height: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        > h1 {
          position: absolute;
          top: 30px;
          font-size: 60px;
        }
        .pick_option {
          width: 95%;
          display: flex;
          justify-content: space-evenly;
          input,
          select {
            background-color: rgba(255, 255, 255, 0.5);
            border: none;
            font-size: 30px;
          }
        }
        button{
          margin-top: 30px;
          padding: 15px;
          font-size: 20px;
          background-color: #f7c427;
          border: none;
        }
      }
  
      .lienhe{
          margin: 0 auto;
          margin-top: 80px;
          display: flex;
          justify-content: space-between;
          width: 90%;
  
          .nhap{
              padding: 15px;
              width: 70%;
              p{
                  font-size: 28px ;
                  color: white;
                  margin-top: 10px;
              }
              input{
                  font-size: 30px;
                  background-color: transparent;
                  border: 1px solid white;
                  width: 100%;
                  margin: 10px 0;
  
                  &:focus{
                      color: white;
                  }
                  &::placeholder{
                      font-size: 15px;
                      color: white;
                      opacity: 50%;
                      padding-left: 10px
                  }
              }
              button{
                  margin-top: 7px;
                  font-size: 20px;
                  background-color: #f7c427;
                  border: none;
                  padding: 10px;
              }
          }
  
          .info_shop{
              background-color: rgba(100, 97, 97, 0.50);
              // background-color: #E2BA2E;
              padding: 15px;
  
              h2{
                  font-size: 40px;
              }
              p{
                  margin: 5px 0;
              }
          }
      }
    }
  }
  