*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --color: #131313;
    --color1: #282828;
    --color2: #393939;
    --color3: #585353;
    --color4: #CA0910;
    --color5: #F7C427;
    --color6: #FFFFFF;
    --color7: #2E2C2C;
}
html{
    font-size: 14px;
}

.page{
    width: 1470px;
    height: 3012px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas:  "main" ;
    margin: 0 auto;

 
    main{
        width: 100%;
        height: 100%;
        background-color: var(--color);
        grid-area: main;
        display: flex;
        padding: 2%;

        .aside{
            width: 35%;
            height: 100%;
            padding: 5% 2%;
            background-color: var(--color1);



            .headerAside{
                width: 100%;
                height: 15%;

                .img{
                    width: 51%;
                    height: 50%;
                    border-radius: 100px;
                    margin-left: 26%;
                
                    
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 100px;
                        
                    }
                }
                .content{
                    margin-top: 5%;
                    width: 100%;
                    height: 30%;
                    border-bottom: 5px solid var(--color6);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    

                    h1{
                        color: var(--color6);
                        font-feature-settings: 'clig' off, 'liga' off;
                        font-family: Bitter;
                        font-size: 2.5rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;                        
                    }
                }
            }
            .mainAside{
             margin-top: 25%;
             width: 100%;
             height: 60%;


             ul{
                width: 100%;
                height: 100%;

                li{
                    list-style-type: none;
                    width: 100%;
                    height: 9%;
                    color: var(--color6);
                    font-feature-settings: 'clig' off, 'liga' off;
                    font-family: Bitter;
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 150%;
                    display: flex;
                    justify-content: space-between;

                    a{
                        color: var(--color6);
                        font-feature-settings: 'clig' off, 'liga' off;
                        font-family: Bitter;
                        font-size: 1.5rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 150%;
                        text-decoration: none;
                    }
                }
             }
                

            }
        }
        .containerMain{
            width: 65%;
            height: 100%;
            margin-left: 3%;
            background-color: var(--color2);
            padding: 5% 2%;

            .headerMain{
                width: 100%;
                height: 5%;

                .titleMain{
                    width: 93%;
                    height: 60%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    margin: 0 4%;

                    h1{
                        color: var(--color6);
                        font-feature-settings: 'clig' off, 'liga' off;
                        font-family: Bitter;
                        font-size: 4.5rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;                        
                    }                                  
                  
                }
                .search{
                    width: 100%;
                    height: 40%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    position: relative;

                    input{
                        width: 100%;
                        height: 80%;
                        border-radius: 30px;
                        background-color: var(--color6);
                        color: var(--color);
                        padding-left: 12%;
                        font-size: 1rem;

                    }
                    input:focus{
                        outline: none;
                    }
                    .ti-search{
                        position: absolute;
                        font-size: 2rem;
                        color: var(--color);
                        top: 34%;
                        right: 3%;
                    }
                }
            }
            .contentMain{
                background-color: var(--color7);
                width: 100%;
                height: 95%;
                margin-top: 5%;
                overflow: auto;
                padding: 2%;

                .contentComment{
                    width: 100%;
                    height: 7%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 3px solid var(--color6);
                    margin: 2% 0;

                    .product{
                        width: 30%;
                        height: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        h1{
                            color: var(--color6);
                            font-size: 1rem;
                        }
                        img{
                            width: 45%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                    .content{
                        width: 40%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        input{
                            width: 100%;
                            height: 100%;
                            border: none;
                            border-bottom: 3px solid var(--color6);
                            font-size: 1.2rem;
                            padding-left: 2%;
                            background-color: var(--color7);
                            color: var(--color6);
                            

                        }
                        input:focus{
                            outline: none;
                            
                        }
                    }
                    .sendContent{
                        width: 10%;
                        height: 100%;

                        input{
                            width: 100%;
                            height: 35%;
                            border: none;
                            font-size: 1rem;
                            background-color: var(--color5);
                            color: var(--color6);
                            margin: 13% 0;
                        }
                        input:hover{
                            background-color: var(--color3);
                            transition: 1s linear;
                        }
                    }
                }
            }
        }
    }

}

