* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color: #131313;
  --color1: #282828;
  --color2: #393939;
  --color3: #585353;
  --color4: #CA0910;
  --color5: #F7C427;
  --color6: #FFFFFF;
  --color7: #2E2C2C;
}

html {
  font-size: 14px;
}

.page {
  width: 1470px;
  height: 2498px;
  display: grid;
  background-color: var(--color);
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  grid-template-areas: "main";
  margin: 0 auto;
}
.page main {
  width: 100%;
  height: 100%;
  background-color: var(--color);
  grid-area: main;
  padding: 0 5%;
}
.page main .titleMain {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color6);
}
.page main .titleMain h1 {
  color: var(--color6);
  font-family: Inter;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.page main .containerMain {
  margin-top: 5%;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
}
.page main .containerMain .customerInformation {
  width: 45%;
  height: 100%;
  border-radius: 10px;
}
.page main .containerMain .customerInformation .titleCustomerInformation {
  width: 100%;
  height: 7%;
  background-color: var(--color3);
  padding: 0 5%;
  color: var(--color6);
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.page main .containerMain .customerInformation .titleCustomerInformation h1 {
  font-size: 2rem;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.page main .containerMain .customerInformation form {
  width: 100%;
  height: 93%;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10% 6%;
}
.page main .containerMain .customerInformation form label {
  color: var(--color6);
  font-family: Inter;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 2% 0;
}
.page main .containerMain .customerInformation form input {
  width: 100%;
  height: 9%;
  margin: 5% 0;
  border-radius: 64.5px;
  border: none;
  font-size: 1rem;
  padding-left: 5%;
}
.page main .containerMain .customerInformation form input:focus {
  outline: none;
}
.page main .containerMain .customerInformation form input:last-child {
  background: linear-gradient(265deg, #F7C427 27.42%, #CA0910 97.16%);
  width: 70%;
  height: 8%;
  color: var(--color);
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.page main .containerMain .yourInvoice {
  width: 45%;
  height: 50%;
  background-color: var(--color2);
  border-radius: 30px;
}
.page main .containerMain .yourInvoice .titleYourInvoice {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color6);
}
.page main .containerMain .yourInvoice .titleYourInvoice h1 {
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.page main .containerMain .yourInvoice .contentProductYourInvoice {
  width: 100%;
  height: 34%;
  overflow: auto;
}
.page main .containerMain .yourInvoice .contentProductYourInvoice table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  text-align: center;
  border-bottom: 2px solid var(--color3);
}
.page main .containerMain .yourInvoice .contentProductYourInvoice table th {
  padding: 20px;
  white-space: nowrap;
  overflow: hidden;
  color: var(--color6);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-bottom: 2px solid var(--color3);
}
.page main .containerMain .yourInvoice .contentProductYourInvoice table td {
  color: var(--color6);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 20px;
}
.page main .containerMain .yourInvoice .contentPlaceOrderYourInvoice {
  width: 100%;
  height: 40%;
  padding: 0 18%;
}
.page main .containerMain .yourInvoice .contentPlaceOrderYourInvoice .total {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
}
.page main .containerMain .yourInvoice .contentPlaceOrderYourInvoice .total h1 {
  color: var(--color6);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.page main .containerMain .yourInvoice .contentPlaceOrderYourInvoice .total h1:last-child {
  font-size: 2rem;
  margin-left: 77%;
}
.page main .containerMain .yourInvoice .contentPlaceOrderYourInvoice .pay {
  width: 100%;
  height: 50%;
}
.page main .containerMain .yourInvoice .contentPlaceOrderYourInvoice .pay .paymentCash, .page main .containerMain .yourInvoice .contentPlaceOrderYourInvoice .pay .bankCardPayment {
  width: 100%;
  height: 50%;
  display: flex;
}
.page main .containerMain .yourInvoice .contentPlaceOrderYourInvoice .pay .paymentCash input[type=radio], .page main .containerMain .yourInvoice .contentPlaceOrderYourInvoice .pay .bankCardPayment input[type=radio] {
  width: 10%;
  height: 65%;
}
.page main .containerMain .yourInvoice .contentPlaceOrderYourInvoice .pay .paymentCash label, .page main .containerMain .yourInvoice .contentPlaceOrderYourInvoice .pay .bankCardPayment label {
  color: var(--color6);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.page main .containerMain .yourInvoice .contentPlaceOrderYourInvoice .pay .paymentCash label p, .page main .containerMain .yourInvoice .contentPlaceOrderYourInvoice .pay .bankCardPayment label p {
  color: var(--color6);
  font-family: Inter;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: none;
}
.page main .containerMain .yourInvoice .contentPlaceOrderYourInvoice .placeOrder {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page main .containerMain .yourInvoice .contentPlaceOrderYourInvoice .placeOrder button {
  width: 60%;
  height: 100%;
  background-color: var(--color4);
  color: var(--color6);
  border-radius: 15px;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}/*# sourceMappingURL=PaymentOrders.css.map */