* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
:root {
--color: #131313;
--color1: #282828;
--color2: #393939;
--color3: #585353;
--color4: #CA0910;
--color5: #F7C427;
--color6: #FFFFFF;
}

html {
    font-size: 20px;
}
.page{
    width: 1920px;
    height: 4525px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 11% 89%;
    grid-template-areas:  "banner" "main" ;
    margin: 0  auto;

    
    .banner{
        width: 100%;
        height: 100%;
        grid-area: banner;

        img{
            width: 100%;
            height: 100%;
        }
    }
    main{
        width: 100%;
        height: 100%;
        background-color: var(--color);
        grid-area: main;
        padding: 2% 5%;

        .nav{
            width: 100%;
            height: 3%;
            display: flex;
            justify-content: end;
            align-items: center;

            select{
                width: 20%;
                height: 81%;
                margin-left: 5%;
                color: var(--color6);
                font-family: Lato;
                font-size: 3.5rem;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
                letter-spacing: 1.4px;
                background-color: var(--color);
                border: none
            }
            select:nth-child(1){
                width: 10%;
                
            }
        }

        .lisstProduct{
            width: 100%;
            height: 90%;
            margin-top: 5%;
            display: flex;
            align-items: start;
            flex-wrap: wrap;
            overflow: hidden;

            .product{
                width: 25%;
                height: 24%;
                border-radius: 30px;
                color: var(--color6);
                background-color: var(--color2);
                margin: 1% 4.1%;

                
                .img{
                    width: 100%;
                    height: 50%;

                    border-radius: 30px;

                    img{
                        border-radius: 30px;
                        width: 100%;
                        height: 100%;

                    }

                }
                .title{
                    width: 100%;
                    display: flex;
                    justify-content:left;
                    padding-left: 5%;
                    align-items: center;
                    margin: 5% 0;

                    h1{
                         font-family: Lato;
                        font-size: 1.8rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 140%; /* 56px */
                        letter-spacing: 0.8px;                        
                    }

                }
                .description{
                    width: 100%;
                    margin: 5% 0;
                    display: flex;
                    justify-content:left;
                    padding-left: 5%;
                    align-items: center;

                    p{
                         font-family: Lato;
                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 140%; /* 28px */
                        letter-spacing: 0.4px;                        
                    }
                }
                .price{
                    width: 100%;
                    margin: 5% 0;
                    display: flex;
                    justify-content:left;
                    align-items: center;
                    padding-left: 5%;

                    h1{
                         font-family: Lato;
                        font-size: 2rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 140%; /* 56px */
                        letter-spacing: 0.8px;
                    }
                }
                .AddToCart{
                    width: 100%;
                    height: 15%;
                    display: flex;
                    justify-content:center;
                    align-items: center;

                    button{
                        width: 60%;
                        height: 55%;
                        border-radius: 100px;
                        background-color: var(--color6);
                        color: var(--color);
                        font-family: Lato;
                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 140%; /* 28px */
                        letter-spacing: 0.4px;
                    }
                    button:hover{
                        background-color: var(--color);
                        color: var(--color6); 
                        transition: 1s linear;
                        border: none;
                    }
                }
            }
        }

        .navigationBar{
            width: 100%;
            height: 3%;
            
            display: flex;
            justify-content: center;
            align-items: center;

            .contentNavigationBar{
                width: 30%;
                height: 100%;
                
                display: flex;
                justify-content: space-around;
                align-items: center;

                .ti-arrow-left, .ti-arrow-right{
                    color: var(--color6);
                    font-size: 2rem;
                }
                button{
                    width: 10%;
                    height: 40%;
                    font-size: 1rem;
                    background-color: var(--color6);
                    color: var(--color);

                }
                // .ti-arrow-right{
                
                // }
            }

        }
    }

}