* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; // Đảm bảo rằng padding và border không làm tăng kích thước thực của phần tử
    text-decoration: none;
  }
  
  html {
    font-size: 14px;
  }
  
  .danh_sach_san_pham {
    margin: 0 auto;
    max-width: 1470px;
    background-image: url("../../img/html/snapedit_1701874861222.png");
    background-size: 100%;
    padding-bottom: 50px;
  
    .layer {
      width: 100%;
      margin: 0 auto;
      height: 100px;
    }
    .slideshow {
      max-width:  100%;
      margin: auto;
  
      .mySlides {
        display: none;
  
        img {
          width: 100%;
          height: 500px;
          object-position: center;
          object-fit: cover;
        }
      }
    }
  
    .timkiem {
      width: 70%;
      margin: 0 auto;
      margin: 30px 0;
      margin-bottom: 25px;
      margin-left: 30px;
      input {
        font-size: 20px;
        background-color: #fdfafa;
        border: 1px solid white;
        padding: 5px;
      }
      select {
        margin: 0 10px;
        background-color: #fdfafa;
        border: 1px solid white;
        padding: 5px;
        font-size: 20px;
      }
      button {
        border-radius: 5px;
        border: none;
        background-color: #f7c427;
        padding: 10px;
        font-size: 20px;
      }
    }
    .Slideshow_Product {
      display: flex;
      
      max-width:  95%;
      margin: 0 auto;
      height: fit-content;
      justify-content: space-around;
      background-repeat: no-repeat;
      background-image: none;
      align-items: center;
      border-radius: 10px;
      flex-wrap: wrap;
      .content_pro {
        background-color: white;
        width: 20%;
        border-radius: 15px;
        height: 375px;
        transition: transform 0.5s ease-in-out;
        margin: 15px;
  
        h2 {
          margin-top: 7px;
          margin-bottom: 4px;
          padding-left: 10px;
        }
        h3 {
          text-decoration: underline;
          padding-left: 10px;
          font-weight: normal;
          margin: 5px 0;
        }
        p {
          padding-left: 10px;
          height: 80px;
        }
        img {
          width: 100%;
          border-radius: 15px 15px 0 0;
          height: 200px;
          text-align: center;
          object-fit: cover;
        }
        .button_div {
          margin-top: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          button {
            padding: 7px;
            background-color: #f7c427;
            border-radius: 7%;
            font-size: 12px;
            text-transform: uppercase;
            border: none;
            color: black;
          }
        }
      }
    }
  }
  