* {
    margin: 0px;
    padding: 0px;
  }
  
  html {
    font-size: 14px;
  }
  .ThongTinKhachHang{
    width: 1470px;
    margin: 0 auto;
    height: 1100px;
    background-color: #131313;
    display: flex;
    justify-content: space-between;

    .card{
        padding-top: 80px;
        width: 40%;
        display: flex;
        justify-content: center;

        .content{
            width: 70%;
            height: 60%;
            box-shadow: inset 5px ;
            background-color: #393939;
            border-radius: 45px;
            text-align: center;
            color: white;

            .img_center{
                display: flex;
                justify-content: center;
                margin-bottom: 20px;
                .img{   
                    display: flex;
                    justify-content: center;
                    width: 40% ;
                    border-radius: 50%;
                    overflow: hidden;
                    align-items: center;
                 
                    img{
                        width: 100%;
                    }
                }
            }
            >h3{
                font-size: 55px;
                font-weight: bold;
            }
            ul{
                margin: 20px 0;
                margin-top: 60px;
                list-style: none;
                
                li{
                    text-decoration: none;
                    margin: 15px;
                    a{
                        font-size: 40px;
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .info{
        width: 60%;
        padding-top: 80px;
        height: 400px;
        display: flex;
        justify-content: center;

        .content_info{
            width: 80%;
            color: white;
            >h1{
                font-size: 60px;
                margin-bottom: 40px;
            }
            p{
                font-size: 30px;
            }
            input{
                margin-bottom: 30px;
                width: 70%;
                border: none;
                border-radius: 64.5px;
                padding: 20px 30px;
                background-color: #D9D9D9;
                font-size: 35px;

                &:focus{
                    outline: none;
                }
            }
            button{
                margin-bottom: 30px;
                width: 77%;
                font-size: 35px;
                border: none;
                border-radius: 64.5px;
                padding: 20px 30px;
                border-radius: 40px;
                background: linear-gradient(265deg, #F7C427 27.42%, #CA0910 97.16%);                font-size: 35px;

            }
        }
    }
  }